<!DOCTYPE html>
<div class='centered'>
  <div id='work'><%= @title %>&nbsp;</div>
  <div id='category'><%= @subtitle %></div>
  <hr id='work-example'/>
  <p class='description'><%= @description['short-description'] %></p>
  <p class='work-info'><strong>Description:</strong>&nbsp;&nbsp;<%= @description['full-description']%></p>
  <p class='work-info'><strong>Tools:</strong>&nbsp;&nbsp;<%= @description['tools']%></p>
  <p class='work-info'><strong>Libraries:</strong>&nbsp;&nbsp;<%= @description['libraries']%></p>
  <% if @description['github-link'] %>
    <a class='work-info' target="_blank" href=<%= @description['github-link']%>><strong>GitHub</strong></a>
  <% end %>
  <% if @description['codeship'] %>
    <img class='work-info' target="_blank" src=<%= @description['codeship']%> alt="Codeship Status"></img>
  <% end %>
  <% if @description['coveralls'] %>
    <img class='work-info' target="_blank" src=<%= @description['coveralls']%> alt="Coverage Status"></img>
  <% end %>
  <div class='work-wrapper'>
    <% @photos.each do |photo| %>
      <%= photo %>
    <% end %>
  </div>
</div>
